---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Formular">
  <h1>Registrer din digitale oprydning</h1>

  <form class="pb-16">
    <h2 class="pb-6 max-w-xl mx-auto text-2xl font-semibold uppercase">Ekspemple på forms</h2>
    <div class="pb-6 max-w-xl mx-auto">
      <label for="antal">Antal:</label>
      <input class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" type="number" id="antal" placeholder="1" />
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <label for="levering">Levering:</label>
      <input class="rounded bg-gray-200 border-transparent focus:border-transparent focus:bg-gray-200 text-gray-700 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500" type="radio" id="postnord" name="levering" />
      <label for="postnord" checked="checked">PostNord</label>
      <input class="rounded bg-gray-200 border-transparent focus:border-transparent focus:bg-gray-200 text-gray-700 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500" type="radio" id="afhent" name="levering" />
      <label for="afhent">Afhent</label>
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <label for="name">Name:</label>
      <input class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" type="text" id="name" placeholder="Name" />
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <label for="adresse">Adresse:</label>
      <input class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" type="text" id="name" placeholder="Adresse" />
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <label for="email">e-mail:</label>
      <input class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" type="email" id="e-mail" placeholder="e-mail" />
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <label for="postnummer">Postnummer:</label>
      <input class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" type="text" id="postnummer" placeholder="Postnummer" />
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <label for="bynavn">Bynavn:</label>
      <input class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" type="text" id="bynavn" placeholder="Bynavn" />
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <label for="telefon">Telefon nr:</label>
      <input class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" type="tel" id="telefon" placeholder="Telefon nr" />
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <label for="nyhedsbrev">Nyhedsbrev:</label>
      <input class="rounded bg-gray-200 border-transparent focus:border-transparent focus:bg-gray-200 text-gray-700 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500" type="checkbox" id="nyhedsbrev" />
    </div>
    <div class="pb-6 max-w-xl mx-auto"><Button variant="primary" size="small">Køb</Button></div>
  </form>
</MainLayout>
