---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="How_to">
      <!-- Hero article start -->
  <!-- Fjern pt altså padding top når header er fixet -->
  <article class="sm:grid grid-cols-2 p-16 pt-32">
		<div class="space-y-8" >
      <h1>Sådan gør du en forskel</h1>
		</div>
		<div class="items-center">
      			<img src="orginal_logo.png" alt="placeholder" />
		</div>
	  </article>
        <!-- Hero article slut -->
    <!-- Step 1 article start -->
    <article class="flex flex-col items-center md:grid grid-cols-2 md:pr-5 py-8">
		<div class="order-last md:order-none">
			<img class="sd:pt-8" src="telefon-stovsuger.svg" alt="Telefon der bliver støvsuget" />
    </div>
		<div class="content-around px-5" >
      <h2>STEP 1</h2>
      <h3 class="pb-6">RYD OP I DIN SMARTPHONE</h3>
		  	<p class=>Fjern alle programmer, som du ikke har brugt i et stykke tid, eller som du kun har brugt et par gange. Slet alle de unødvendige, glemte, gamle apps og spil, som du har downloadet, men ikke bruger. De bruger energi, selv når de ikke er i brug, og kan optage hundredvis af megabytes ved de månedlige opdateringer. Husk at slette gammelt indhold, som e-mails, billeder og video samt eventuelle dubletter. <a href="https://drive.google.com/file/d/1fN0bgV8R1WAirubd_1QlSH17lYHt6eE_/view" class="text-green-700 underline underline-offset-4">
  Se retningslinjerne
</a>for, hvordan du rydder op på din smartphone og tablet.</p>
    </div>
	  </article>
    <!-- Step 1 article slut -->
    <!-- Step 2 article start -->

    <article class="flex items-center flex-col md:grid grid-cols-2 md:pl-8 py-8">
    
		<div class="content-around px-10" >
      <h2>STEP 2</h2>
      <h3 class="pb-6">RYD OP I DIN COMPUTER</h3>
		  	<p class=>Ryd op på din computer, og slet filer, der er dubletter, eller som er blevet ubrugelige. Gå alle dine fotos igennem, og slet dubletter og uskarpe billeder. Tjek videofilerne, og slet dem, du har set, eller som er unødvendige. Arkiver de vigtige filer. Vær forberedt på at finde virkelig fantastiske ting på din computer!<a href="https://drive.google.com/file/d/1i8rKagvbCXk4JciaEg896YUUti3bjLbU/view" class="text-green-700 underline underline-offset-4">
  Se retningslinjerne
</a>for, hvordan du rydder op i din computer og dit drev.</p>
		</div>
      		<div class="items-center order-last md:order-none">
			<img class="sd:pt-8" src="computer-spand.svg" alt="Computer der bliver vasket" />
		</div>
	  </article>

        <!-- Step 2 article slut -->
          <!-- Step 3 article start -->
  <article class="flex items-center flex-col md:grid grid-cols-2 md:pr-4 py-8">
    	<div class="items-center order-last md:order-none">
<img class="sd:pt-8" src="mails-spand.svg" alt="mailbrev og en vaskespand" />
		</div>
		<div class="content-around px-10" >
      <h2>STEP 3</h2>
      <h3 class="pb-6">RYD OP I DIN MAIL-INDBAKKE</h3>
		  	<p class=>Filtrer e-mails efter den ældste og arkiver dem. Afmeld nyhedsbreve, som du ikke engang læser. Vælg lange samtaler, vælg den nyeste, og slet alt andet! Søg efter gentagende navne, adresser og ord for at finde lignende e-mails, så du kan håndtere dem i flæng. Vær modig og klik på delete-knappen. <a href="https://drive.google.com/file/d/1Capnwt-idzQoVtV1jNTM2HeJnvYVNQIi/view" class="text-green-700 underline underline-offset-4">
  Se retningslinjerne
</a>for, hvordan du rydder op i din indbakke!</p>
	  </article>
<!-- Step 3 article slut -->
 <!-- Step 4 article start -->
 <article class="flex items-center flex-col md:grid grid-cols-2 md:pl-7 py-8">
		<div class="content-around px-10" >
      <h2>STEP 4</h2>
      <h3 class="pb-6">RYD OP I DIN COMPUTER</h3>
		  	<p class=>Brug flere samarbejdssteder i stedet for at sende e-mails. Hold op med at sende 'ok' og 'tak' e-mails! Opbevar de vigtige filer på ét sted i skyen, så der ikke er behov for at have den samme fil på hver computer. Tænk, før du laver backups. Lav mindre 'hurtigt indhold', og vær mere bevidst om dine videoer og fotos. Sørg for kun at tage backup af de filer, du får brug for, og kun af de fotos, du elsker. Små ændringer i dine internetvaner, som f.eks. at slukke for video under et virtuelt møde, reducere kvaliteten af streamingtjenester, mindske spilletiden, begrænse tiden på sociale medier og afmelde nyhedsbreve og e-mail-lister, kan reducere dit miljømæssige fodaftryk betydeligt!</p>
		</div>
    		<div class="items-center order-last md:order-none">
			<img class="sd:pt-8" src="mails-kost.svg" alt="Kost der fejer mailbreve" />
		</div>
     </article>
     <!-- Step 4 article slut -->

<!-- KNAP article start -->
    <div class="items-center mx-auto max-w-fit">
      <a href="/formular_1"><Button variant="primary" size="small">Del resultater</Button></a>
    </div>
<!-- KNAP article slut -->
</MainLayout>