---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="How_to">
  <h1>Sådan gør du en forskel</h1>
</MainLayout>
