---
import MainLayout from "../layouts/Indexlayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

class="max-w-5xl mx-auto p-6

<MainLayout title="Forside" hasCarouselTekst="true">
  <section class="max-w-5xl mx-auto p-6 md:grid grid-cols-3 my-28 gap-x-20">
    <article class="col-span-2">
      <img src="/public/jordklode-hero.svg" alt="" />
    </article>
    <article class="col-span-1 flex flex-col justify-end">
      <div>
        <h1>Digital Skraldedag</h1>
      </div>
      <br />
      <div class="pb-6 max-w-xl mt-4">
        <Button variant="primary" size="large">Del resultat</Button>
      </div>
    </article>
  </section>
  <p>her kommer banner</p>
  <section class="max-w-5xl mx-auto p-6 md:grid grid-cols-3 my-28 gap-x-20">
    <article class="col-span-2">
      <h1 class="mb-5 flex flex-col justify-end">
        Hvad er Digital Skraldedag?
      </h1>
      <p>
        Digital Skraldedag er en dag, der er dedikeret til at rydde op i vores
        digitale liv, ligesom vi rydder op i vores fysiske miljø på World
        Cleanup Day.
      </p>
      <br />
      <p>
        Digital Skraldedag er nu i gang med sit femte år og er organiseret af
        Let's Do It World. Formålet er at øge bevidstheden om digital forurening
        og opfordre enkeltpersoner og virksomheder til at rydde op og
        omstrukturere deres online tilstedeværelse.
      </p>
    </article>
    <article class="col-span-1">
      <img src="/public/telefon-mails.svg" alt="Telefon med mails" />
    </article>
  </section>
  <h1>Hvorfor er det vigtigt?</h1>
  <section
    class="max-w-5xl mx-auto p-6 md:grid grid-cols-5 mt-12 mb-28 gap-x-5"
  >
    <article>
      <div class="flex justify-center items-center">
        <img class="h-24" src="/public/jordklode-co2.svg" alt="jordklode" />
      </div>
      <br />
      <p>Hjælper med at reducere CO2-udledning</p>
    </article>
    <article>
      <div class="flex justify-center items-center">
        <img
          class="h-24"
          src="/public/telefon-icon.svg"
          alt="telefon med kalender"
        />
      </div>
      <br />
      <p>Forlænger dine enheders levetid</p>
    </article>
    <article>
      <div class="flex justify-center items-center">
        <img class="h-24" src="/public/pil1.svg" alt="pil" />
      </div>
      <br />
      <p>Fremskynder og forenkler informations deling og søgning</p>
    </article>
    <article>
      <div class="flex justify-center items-center">
        <img class="h-24" src="/public/laas.svg" alt="lås" />
      </div>
      <br />
      <p>Reducerer datalagring sikkerhedsrisici</p>
    </article>
    <article>
      <div class="flex justify-center items-center">
        <img class="h-24" src="/public/pil2.svg" alt="pil" />
      </div>
      <br />
      <p>
        Øger disk- og serverkapaciteten kapacitet, hvilket hjælper reducere
        omkostningerne
      </p>
    </article>
  </section>
  <p>her kommer banner</p>
  <h1 class="my-28">Inviter en ven til digital skraldedag!</h1>
  <section class="max-w-5xl mx-auto p-6 md:grid grid-cols-2 pb-28">
    <article class="flex flex-col justify-center">
      <div class="flex justify-center items-center">
        <img
          class="w-64"
          src="/public/telefon-mails.svg"
          alt="Telefon med mails"
        />
      </div>
      <br />
      <br />
      <div class="pb-6 max-w-xl mx-auto">
        <Button variant="primary" size="large">Inviter en ven</Button>
      </div>
    </article>
    <article class="flex flex-col justify-center">
      <div class="flex justify-center items-center">
        <img
          class="w-64"
          src="/public/computer-mails.svg"
          alt="Computer med mails"
        />
      </div>
      <br />
      <br />
      <div class="pb-6 max-w-xl mx-auto">
        <Button variant="primary" size="large">Del resultat</Button>
      </div>
    </article>
  </section>
  <section class="max-w-5xl mx-auto p-6 md:grid grid-cols-3 my-28">
    <article class="col-span-1">
      <img src="/public/paere.svg" alt="lyspære" />
    </article>
    <article class="col-span-2 flex flex-col justify-end">
      <h1>Vidste du at?</h1>
      <br />
      <p>
        90% af alt data bliver aldrig tilgået 3 måneder efter det bliver lagret!
      </p>
      <p>
        Læs mer <Link
          href="/facts.astro"
          target="_blank"
          variant="textlink"
          size="standard"
        >
          her</Link
        >
      </p>
    </article>
  </section>
</MainLayout>
