---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Forside">
  <article class="pb-16">
    <h2 class="pb-6 max-w-xl mx-auto text-2xl font-semibold uppercase">Ekspempler på brug af knapper</h2>
    <div class="pb-6 max-w-xl mx-auto"><Button variant="primary" size="large">Køb billet</Button></div>
    <div class="pb-6 max-w-xl mx-auto"><Button variant="primary" size="medium">Køb billet</Button></div>
    <div class="pb-6 max-w-xl mx-auto"><Button variant="primary" size="small">Køb billet</Button></div>
    <div class="pb-6 max-w-xl mx-auto"><Button variant="secondary" size="large">Køb billet</Button></div>
    <div class="pb-6 max-w-xl mx-auto"><Button variant="secondary" size="medium">Køb billet</Button></div>
    <div class="pb-6 max-w-xl mx-auto"><Button variant="secondary" size="small">Køb billet</Button></div>
  </article>

  <article class="pb-16">
    <h2 class="pb-6 max-w-xl mx-auto text-2xl font-semibold uppercase">Ekspempler på brug af links</h2>
    <h3 class="pb-6 max-w-xl mx-auto text-xl font-semibold uppercase">Tekst link</h3>
    <div class="pb-6 max-w-xl mx-auto"><p>Link til <Link href="https://kea.dk/" target="_blank" variant="textlink" size="standard"> En anden side</Link></p></div>
    <h3 class="pb-6 max-w-xl mx-auto text-xl font-semibold uppercase">Knap link</h3>
    <div class="pb-6 max-w-xl mx-auto">
      <p>Link til <Link href="https://kea.dk/" target="_blank" variant="primary" size="large">En anden side</Link></p>
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <p>Link til <Link href="https://kea.dk/" target="_blank" variant="primary" size="medium">En anden side</Link></p>
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <p>Link til <Link href="https://kea.dk/" target="_blank" variant="primary" size="small">En anden side</Link></p>
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <p>Link til <Link href="https://kea.dk/" target="_blank" variant="secondary" size="large">En anden side</Link></p>
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <p>Link til <Link href="https://kea.dk/" target="_blank" variant="secondary" size="medium">En anden side</Link></p>
    </div>
    <div class="pb-6 max-w-xl mx-auto">
      <p>Link til <Link href="https://kea.dk/" target="_blank" variant="secondary" size="small">En anden side</Link></p>
    </div>
  </article>
</MainLayout>
