---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Ressourcer">
  <div class="max-w-5xl mx-auto">
    <h1 class="pt-32 uppercase text-4xl font-bold">Ressourcer og</h1>
    <h1 class="pt-1 uppercase text-4xl font-bold">materialer</h1>
  </div>
  <div></div>
</MainLayout>
