---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Ressourcer">
  <div class="md:grid">
    <div class="pb-10">
      <h1 class="pt-32 uppercase text-4xl font-bold">Ressourcer og</h1>
      <h1 class="pt-1 uppercase text-4xl font-bold">materialer</h1>
    </div>
    <img src="/orginal_logo.png" alt="placeholder" />
    <div>
      <div class="pb-10"><Link href="https://drive.google.com/file/d/1LZAIsGLSJl7fOdqdp53YscYc0XTd2xv3/view" target="_blank" variant="textlink" size="standard">Retningslinjer for enkeltpersoner</Link></div>
      <div class="pb-10"><Link href="https://drive.google.com/file/d/1i8rKagvbCXk4JciaEg896YUUti3bjLbU/view" target="_blank" variant="textlink" size="standard">Sådan rydder du op på computer og drev</Link></div>
      <div class="pb-10"><Link href="https://drive.google.com/file/d/1Capnwt-idzQoVtV1jNTM2HeJnvYVNQIi/view" target="_blank" variant="textlink" size="standard">Sådan rydder du op i dine e-mails</Link></div>
      <div class="pb-10"><Link href="https://drive.google.com/file/d/1fN0bgV8R1WAirubd_1QlSH17lYHt6eE_/view" target="_blank" variant="textlink" size="standard">Sådan rydder du op på din smartphone og tablet</Link></div>
      <div class="pb-10"><Link href="https://docs.google.com/spreadsheets/d/1LvTHVLLRsCICSQ-FMwtqy1whl1PlQFKy/edit?gid=631660431#gid=631660431" target="_blank" variant="textlink" size="standard">Indsamling af deltagerdata 1</Link></div>
      <div class="pb-10"><Link href="https://docs.google.com/spreadsheets/d/1k56qMJsp3zgDhlsCngBhdjaSHP_z9TqM/edit?gid=464700726#gid=464700726" target="_blank" variant="textlink" size="standard">Indsamling af deltagerdata 2</Link></div>
    </div>
  </div>
</MainLayout>
