---

---

<div class="bg-green-800 p-6 pt-16 grid grid-cols-4 grid-rows-4 gap-5 md:grid-cols-12 md:grid-rows-2">
  <div class="justify-center content-center col-span-4 md:col-start-2 md:col-span-3">
    <h1 class="text-xl uppercase font-normal text-white pb-2">Digital Skraldedag er...</h1>
    <p class="text-white">En dag, der er dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day.</p>
  </div>

  <div class="justify-center content-center col-span-2 md:col-start-6">
    <img class="mx-auto pb-2" src="/deltager.svg" alt="deltager icon" />
    <h2 class="text-xl uppercase font-normal text-white text-center pb-2">1,184,747</h2>
    <p class="text-white text-center">Deltagere</p>
  </div>

  <div class="justify-center content-center col-span-2 md:col-start-8">
    <img class="mx-auto pb-2" src="/gb.svg" alt="Data slettet icon" />
    <h2 class="text-xl uppercase font-normal text-white text-center pb-2">14.5 M GB</h2>
    <p class="text-white text-center">Data slettet</p>
  </div>

  <div class="justify-center content-center col-span-2 md:col-start-10">
    <img class="mx-auto pb-2" src="/co2.svg" alt="co2 produktion forhindret årligt icon" />
    <h2 class="text-xl uppercase font-normal text-white text-center pb-2">3,625 ton CO2</h2>
    <p class="text-white text-center">Produktion forhindret årligt</p>
  </div>

  <div class="justify-center content-center col-span-2 md:col-start-2 md:col-span-3">
    <a href="/"><img src="/logohvid.svg" alt="Logo" /></a>
  </div>

  <a class="md:col-start-8 justify-center content-center mx-auto" href="https://www.youtube.com/worldcleanupday" target="_blank"><img src="/youtube.svg" alt="youtube" /></a>

  <a class="md:col-start-9 justify-center content-center mx-auto" href="https://www.facebook.com/worldcleanupday.global" target="_blank"><img src="/facebook.svg" alt="facebook" /></a>

  <a class="md:col-start-10 justify-center content-center mx-auto" href="https://www.linkedin.com/company/world-cleanup-day-official" target="_blank"><img src="/linkedin.svg" alt="linkedin" /></a>

  <a class="md:col-start-11 justify-center content-center mx-auto" href="https://www.instagram.com/worldcleanupday.global" target="_blank"><img src="/instagram.svg" alt="instagram" /></a>
</div>
