---
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
---

<div x-data="{ showmenu: false }" class="p-4 overflow-auto fixed z-10 w-full bg-gray-100">
  <div id="navbar" class="flex flex-row justify-between">
    <div id="logo" class="flex justify-center items-center">
      <a href="/"><img class="h-12 w-full object-cover" src="/public/orginal_logo.png" alt="Logo" /></a>
    </div>
    <nav id="desktopmenu" class="hidden lg:inline-block">
      <ul class="flex flex-row gap-4 justify-center items-center">
        <li class=""><a href="/how_to">Sådan deltager du</a></li>
        <li class=""><a href="/ressourcer">Ressourcer</a></li>
        <div class="max-w-xl mx-auto">
          <a href="/formular_1"><Button variant="primary" size="small">Del resultater</Button></a>
        </div>
      </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"
      ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </div>
  <nav id="mobilmenu" class="flex flex-col content-center pt-4" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul>
      <li class="text-center py-2 border-y-2"><a href="/how_to">Sådan deltager du</a></li>
      <li class="text-center py-2 border-b-2"><a href="/ressourcer">Ressourcer</a></li>
      <div class="pb-6 max-w-xl mx-auto">
        <a href="/formular_1"><Button variant="primary" size="small">Del resultater</Button></a>
      </div>
    </ul>
  </nav>
</div>
