---
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
---

<div x-data="{ showmenu: false }" class="pr-4 pl-4 fixed z-10 w-full bg-white">
  <div id="navbar" class="grid grid-cols-4 md:grid-cols-2 py-3 border-b-2">
    <div class="col-span-1 place-self-start">
      <div id="logo" class="flex justify-center items-center">
        <a href="/"><img class="h-12 w-full object-cover pr-5" src="/public/orginal_logo.png" alt="Logo" /></a>
        <nav id="desktopmenu" class="hidden lg:inline-block">
          <ul class="flex flex-row gap-8 justify-center items-center">
            <li class=""><a href="/">Hjem</a></li>
            <li class=""><a href="/how_to">Sådan deltager du</a></li>
            <li class=""><a href="/ressourcer">Ressourcer</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="place-self-end col-span-3 md:col-span-1">
      <div class="flex flex-row">
        <div class="pr-5 flex justify-center">
          <a href="/formular_1"><Button variant="primary" size="small">Del resultater</Button></a>
        </div>
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"
          ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <nav id="mobilmenu" class="flex flex-col content-center pt-4" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul>
      <li class="text-center py-2 border-b-2 pt-5 pb-5"><a href="/">Hjem</a></li>
      <li class="text-center py-2 border-b-2 pt-5 pb-5"><a href="/how_to">Sådan deltager du</a></li>
      <li class="text-center py-2 border-b-2 pt-5 pb-5"><a href="/ressourcer">Ressourcer</a></li>
      <div class="py-2 border-b-2 flex justify-center items-center pt-5 pb-5">
        <a class="" href="/formular_1"><Button variant="primary" size="small">Del resultater</Button></a>
      </div>
    </ul>
  </nav>
</div>
